*{
    font-family: Times;
}
.body{
	margin: 0;
	width: 100%;
	height: auto;
	max-width: 100%;
	background-color: rgb(255, 242, 225);
}
/*index*/
.GridIndex{
	background-color: rgb(24, 24, 24);
	display: grid;
	grid-template-areas: 
	"header header"
	"titulo titulo"
	"cuerpo cuerpo"
	"footer footer";

	.GridIndex_header{
		grid-area: header;
		background-color: #C80DDE;
		height: 50px;
		width: auto;

			#input-search{
				margin-top: 10px;
				margin-left: 30px;  
				width: 40%;
				height: 30px;
				font-size: 20px;
				text-indent: 10px;
				display: inline-block;
				background-color: #D0C6D5;
				border-radius: 20px;
			}

			.content-search{
				width: 100%;
			    display: none;
			    a{
					color: #fff;
					text-decoration: none;
				}
				td{
					padding: 5px;
					height: 30px;
					display: block;
				}
				td:hover{
					background: rgba(0,0,0,0.3);
				}
				.content-table{
					position: relative;
					left: 20px;
					width: 40%;
					max-height: 300px;
					height: auto;
					background-color: rgba(0,0,0,0.6);
					margin-left: 10px;
					padding-left:10px;
					overflow-y: visible;
					overflow-x: hidden;
					.tabla-buscador{
					table{
					    width: 100%;
						}
						thead{
							display: none;
						}
					}
				}
				#table_length, #table_filter, #table_info, #table_paginate{
						    display: none;
						}
			}
			.iconoMenu{
				font-size: 30px;
				cursor: pointer;
				display: none;
			}
			#imenu{
				display: none;
			}
			.menu{ 
				float: right;
				height: 50px;
				display: inline-block;
				ul{
					height: 50px;
					background-color: #C80DDE;
					display: flex;
					list-style: none;
					li{
						height: 50px;
						display: block;
						padding: 10px 20px;
						ul{
							height: auto;
							width: 130px;
							display: none;
							position: absolute;
							right: 300px;
							top: 50px;
							li{
								padding: 5px;
								text-align: center;
								width: 130px;
								height: auto;
								position: relative;
								right: 40px;
							}
						}
					}
					li:hover{
						background: rgba(0,0,0,0.3);
						
					}
					li:hover ul{
						display: block;
						position: absolute;
					}
				}
				a{
					color: black;
					text-decoration: none;
				}
			}
	}
	.GridIndex_titulo{
		grid-area: titulo;
		h1{
			color: blanchedalmond;
			float: right;
			padding: 15px;
		}
	}
	.GridIndex_cuerpo{
		grid-area: cuerpo;
		display: flex;
		flex-direction: row;
		margin: 10px;
		.GridIndex_izquierda{
			width: 50%;
			padding: 10% 10px;
			font-size: 20px;
			text-align: center;
			color: #fff;
			background-color: black;
		}
		.GridIndex_derecha{
			display: flex;
			flex-direction: column;
			.GridIndex_derecha_contenedor{
				background-color: #D0C6D5;
				padding: 10px;
				text-align: center;
				img{
					width: 45%;
					height: 70%;
				}
			}
		}
	}
	.GridIndex_footer{
		grid-area: footer;
		background-color: #C80DDE;
		height: 58px;
		ul{
			display: flex;
			justify-content: center;
			list-style: none;
			margin: 5px;
			li{
				display: inline;
			}
		}
	}
}
/*viento*/
.GridVenta{
	background-color: rgb(24, 24, 24);
	display: grid;
	grid-template-areas: 
	"header header"
	"cuerpo cuerpo"
	"footer footer";
	.GridVenta_header{
		grid-area: header;
		background-color: #C80DDE;
		height: 50px;
		width: auto;

			#input-search{
				margin-top: 10px;
				margin-left: 30px;  
				width: 40%;
				height: 30px;
				font-size: 20px;
				text-indent: 10px;
				display: inline-block;
				background-color: #D0C6D5;
				border-radius: 20px;
			}

			.content-search{
				width: 40%;
				display: none;
				position: relative;
				top: 15px;
			    a{
					color: #fff;
					text-decoration: none;
				}
				td{
					float: right;
					padding: 5px;
					height: 30px;
					display: block;
					position: relative;
					right: 0px;
				}
				td:hover{
					background: rgba(99, 99, 99, 0.452);
				}
				tr{
					float: right;
					width: 100%;
				}
				.content-table{
					position: relative;
					left: 20px;
					width: 100%;
					max-height: 300px;
					height: auto;
					background-color: rgba(0,0,0,0.6);
					margin-left: 10px;
					padding-left:10px;
					overflow-y: visible;
					overflow-x: hidden;
					.tabla-buscador{
					table{
					    width: 100%;
						}
						thead{
							display: none;
						}
					}
				}
				#table_length, #table_filter, #table_info, #table_paginate{
						    display: none;
						}
			}
			.iconoMenu{
				font-size: 30px;
				cursor: pointer;
				display: none;
			}
			#imenu{
				display: none;
			}
			.menu{ 
				float: 	right;
				height: 50px;
				display: inline-block;
				ul{
					height: 30px;
					background-color: #C80DDE;
					display: flex;
					list-style: none;
					li{
						height: 50px;
						display: block;
						padding: 10px 20px;
						ul{
							height: auto;
							width: 130px;
							display: none;
							position: relative;
							right: 300px;
							top: 50px;
							li{
								padding: 5px;
								text-align: center;
								width: 130px;
								height: auto;
								position: relative;
								right: 40px;
							}
						}
					}
					li:hover{
						background: rgba(0,0,0,0.3);
						
					}
					li:hover ul{
						display: block;
						position: absolute;
					}
				}
				a{
					color: black;
					text-decoration: none;
				}
			}
	}
	.GridVenta_cuerpo{
		grid-area: cuerpo;
		display: grid;
		grid-template-areas:
		"izquierda titulo"
		"izquierda derecha"
		"izquierda SigAtras";
		.GridVenta_titulo{
			grid-area: titulo;
			h1{
				color: blanchedalmond;
				float: right;
				padding: 15px;
			}
		}
		.GridVenta_productos{
			grid-area: derecha;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: stretch;
			.GridVenta_elemento{
				width: 350px;
				margin: 10px;
    			height: 250px;
    			padding:0px;
				img{
					border: solid 1px;
    				height: 180px;
    				width: 300px;
				}
				button{
					width: 100%;
					background-color: #C80DDE;
				}
			}
			.GridVenta_elemento:hover{
				img{
					transform: scale(0.98);
				}
				button{
					background: rgba(226, 54, 149, 0.384);
				}
			}
		}
		.GridVenta_filtros{
			grid-area: izquierda;
			width: 200px;
			padding-top: 50px;
    		padding-left: 10px;
    		background-color: #D0C6D5;
    		margin: 0px;
		}
		.container{
			grid-area: SigAtras;
			margin-top: 10px;
		}
	}
	.GridVenta_footer{
		grid-area: footer;
		background-color: #C80DDE;
		height: 58px;
		ul{
			display: flex;
			justify-content: center;
			list-style: none;
			margin: 5px;
			li{
				display: inline;
			}
		}
	}
}
/*galeria*/
.GridGaleria{
	background-color: rgb(24, 24, 24);
	display: grid;
	grid-template-areas: 
	"header header"
	"titulo titulo"
	"cuerpo cuerpo"
	"footer footer";
	.GridGaleria_header{
		grid-area: header;
		background-color: #C80DDE;
		height: 50px;
		width: auto;

			#input-search{
				margin-top: 10px;
				margin-left: 30px;  
				width: 40%;
				height: 30px;
				font-size: 20px;
				text-indent: 10px;
				display: inline-block;
				background-color: #D0C6D5;
				border-radius: 20px;
			}

			.content-search{
				width: 100%;
			    display: none;
			    a{
					color: #fff;
					text-decoration: none;
				}
				td{
					padding: 5px;
					height: 30px;
					display: block;
				}
				td:hover{
					background: rgba(0,0,0,0.3);
				}
				.content-table{
					position: relative;
					left: 20px;
					width: 40%;
					max-height: 300px;
					height: auto;
					background-color: rgba(0,0,0,0.6);
					margin-left: 10px;
					padding-left:10px;
					overflow-y: visible;
					overflow-x: hidden;
					.tabla-buscador{
					table{
					    width: 100%;
						}
						thead{
							display: none;
						}
					}
				}
				#table_length, #table_filter, #table_info, #table_paginate{
						    display: none;
						}
			}
			.iconoMenu{
				font-size: 30px;
				cursor: pointer;
				display: none;
			}
			#imenu{
				display: none;
			}
			.menu{ 
				float: 	right;
				height: 50px;
				display: inline-block;
				ul{
					height: 50px;
					background-color: #C80DDE;
					display: flex;
					list-style: none;
					li{
						height: 50px;
						display: block;
						padding: 10px 20px;
						ul{
							height: auto;
							width: 130px;
							display: none;
							position: absolute;
							right: 300px;
							top: 50px;
							li{
								padding: 5px;
								text-align: center;
								width: 130px;
								height: auto;
								position: relative;
								right: 40px;
							}
						}
					}
					li:hover{
						background: rgba(0,0,0,0.3);
						
					}
					li:hover ul{
						display: block;
						position: absolute;
					}
				}
				a{
					color: black;
					text-decoration: none;
				}
			}
	}
	.GridGaleria_titulo{
		grid-area: titulo;
		h1{
			color: blanchedalmond;
			float: right;
			padding: 15px;
		}
	}
	.GridGaleria_cuerpo{
		grid-area: cuerpo;
		.GridGaleria_flex{
    		display: flex;
			flex-wrap: wrap;
    		justify-content: space-evenly;
    		
    		img{
			border: solid blanchedalmond 1px;
				border-radius: 7%;
				margin: 3px;
				width: 30%;
				height: 200px;
			}
			img:hover{
				transform: scale(1.2);
			}
		} 

	}
	.GridGaleria_footer{
		grid-area: footer;
		background-color: #C80DDE;
		height: 58px;
		ul{
			display: flex;
			justify-content: center;
			list-style: none;
			margin: 5px;
			li{
				display: inline;
			}
		}
	}
}
.GridContacto{
	background-color: rgb(24, 24, 24);
	display: grid;
	grid-template-areas: 
	"header header"
	"titulo titulo"
	"cuerpo cuerpo"
	"footer footer";
	grid-template-columns: 50% 50%;
	.GridContacto_header{
		grid-area: header;
		background-color: #C80DDE;
		height: 50px;
		width: auto;

			#input-search{
				margin-top: 10px;
				margin-left: 30px;  
				width: 40%;
				height: 30px;
				font-size: 20px;
				text-indent: 10px;
				display: inline-block;
				background-color: #D0C6D5;
				border-radius: 20px;
			}

			.content-search{
				width: 40%;
			    display: none;
			    a{
					color: #fff;
					text-decoration: none;
				}
				td{
					padding: 5px;
					height: 30px;
					display: block;
				}
				td:hover{
					background: rgba(0,0,0,0.3);
				}
				.content-table{
					position: relative;
					left: 20px;
					width: 100%;
					max-height: 300px;
					height: auto;
					background-color: rgba(0,0,0,0.6);
					margin-left: 10px;
					padding-left:10px;
					overflow-y: visible;
					overflow-x: hidden;
					.tabla-buscador{
					table{
					    width: 100%;
						}
						thead{
							display: none;
						}
					}
				}
				#table_length, #table_filter, #table_info, #table_paginate{
						    display: none;
						}
			}
			.iconoMenu{
				font-size: 30px;
				cursor: pointer;
				display: none;
			}
			#imenu{
				display: none;
			}
			.menu{ 
				float: right;
				height: 50px;
				display: inline-block;
				ul{
					height: 50px;
					background-color: #C80DDE;
					display: flex;
					list-style: none;
					li{
						height: 50px;
						display: block;
						padding: 10px 20px;
						ul{
							height: auto;
							width: 130px;
							display: none;
							position: absolute;
							right: 300px;
							top: 50px;
							li{
								padding: 5px;
								text-align: center;
								width: 130px;
								height: auto;
								position: relative;
								right: 40px;
							}
						}
					}
					li:hover{
						background: rgba(0,0,0,0.3);
						
					}
					li:hover ul{
						display: block;
						position: absolute;
					}
				}
				a{
					color: black;
					text-decoration: none;
				}
			}
	}
	.GridContacto_titulo{
		grid-area: titulo;
		h1{
			color: blanchedalmond;
			float: right;
			padding: 15px;
		}
	}
	.GridContacto_cuerpo{
		grid-area: cuerpo;
		display: grid;
		grid-template-areas: 
		"izquierda derecha";
		height: auto;
		.GridContacto_detalles{
			grid-area: derecha;
			font-size: 25px;
			margin-top: 5%;
			color: blanchedalmond;
			iframe{
				border: solid 1px;
    			width: 95%;
				height: 350px;
				margin-bottom: 10px;
			}
		}
		.GridContacto_formulario{
			grid-area: izquierda;
			
			ul{
				list-style: none;
				input{
					width: 90%;
					height: 60px;
					font-size: 30px;
				}
				#checkbox{
				    margin-bottom: 5px;
					display: inline;
					height: 20px;
					width: 20px;
				    div{
				    	display: inline-block;
				    }
				}
				textarea{
					width: 90%;
					height: 150px;
					font-size: 30px;
				}
			}
		}
	}
	.GridContacto_footer{
		grid-area: footer;
		background-color: #C80DDE;
		height: 58px;
		ul{
			display: flex;
			justify-content: center;
			list-style: none;
			margin: 5px;
			li{
				display: inline;
			}
		}
	}
}
.GridNosotros{
	background-color: rgb(24, 24, 24);
	display: grid;
	grid-template-areas: 
	"header header"
	"titulo titulo"
	"cuerpo cuerpo"
	"footer footer";
	.GridNosotros_header{
		grid-area: header;
		background-color: #C80DDE;
		height: 50px;
		width: auto;
			#input-search{
				margin-top: 10px;
				margin-left: 30px;  
				width: 40%;
				height: 30px;
				font-size: 20px;
				text-indent: 10px;
				display: inline-block;
				background-color: #D0C6D5;
				border-radius: 20px;
				}
	
			.content-search{
				width: 40%;
				display: none;
				a{
					color: #fff;
					text-decoration: none;
				}
				td{
					padding: 5px;
					height: 30px;
					display: block;
				}
				td:hover{
					background: rgba(0,0,0,0.3);
				}
				.content-table{
					position: relative;
					left: 20px;
					width: 100%;
					max-height: 300px;
					height: auto;
					background-color: rgba(0,0,0,0.6);
					margin-left: 10px;
					padding-left:10px;
					overflow-y: visible;
					overflow-x: hidden;
					.tabla-buscador{
						table{
							width: 100%;
							}
							thead{
								display: none;
							}
						}
					}
					#table_length, #table_filter, #table_info, #table_paginate{
								display: none;
							}
				}
				.iconoMenu{
					font-size: 30px;
					cursor: pointer;
					display: none;
				}
				#imenu{
					display: none;
				}
				.menu{ 
					float: right;
					height: 50px;
					display: inline-block;
					ul{
						height: 50px;
						background-color: #C80DDE;
						display: flex;
						list-style: none;
						li{
							height: 50px;
							display: block;
							padding: 10px 20px;
							ul{
								height: auto;
								width: 130px;
								display: none;
								position: absolute;
								right: 300px;
								top: 50px;
								li{
									padding: 5px;
									text-align: center;
									width: 130px;
									height: auto;
									position: relative;
									right: 40px;
								}
							}
						}
						li:hover{
							background: rgba(0,0,0,0.3);
							
						}
						li:hover ul{
							display: block;
							position: absolute;
						}
					}
					a{
						color: black;
						text-decoration: none;
					}
				}
	}
	.GridNosotros_titulo{
		grid-area: titulo;
		h1{
			color: blanchedalmond;
			float: right;
			padding: 15px;
		}
	}
	.GridNosotros_cuerpo{
		grid-area: cuerpo;
		color: blanchedalmond;
		h3{
			margin: 30px;
		}
		.presentacion{
			padding: 10%;
			display: flex;
			div{
				width: 50%;
				margin: 5px;
			}
			img{
				width: 30%;
			}
		}
	}
	.GridNosotros_footer{
		grid-area: footer;
		background-color: #C80DDE;
		height: 58px;
		ul{
			display: flex;
			justify-content: center;
			list-style: none;
			margin: 5px;
			li{
				display: inline;
			}
		}
	}
}
@media (max-width: 850px) {
	.GridIndex{
		max-width: 100%;
		.GridIndex_header{
			#input-search{
				position: relative;
				top: 0px;
				left: 5px;
				width: 80%;
			}
			.iconoMenu{
				display: inline;
				padding-right: 5px;
				float: right;
			}
			.menu{
				height: 250px;
				width: 40%;
				padding: 0px;
				transform: translateX(500%);
				transition: all 0.3s;
				display: none;
				ul{
					margin: 0px;
					width: 100%;
					position: relative;
					top: 10px;
					right: -55px;
					height: 250px;
					display: block;
					li{
						margin: 0px;
						width: 117%;
						position: relative;
						left: -40px;
						ul{
							position: relative;
							top: 0px;
							right: 100%;
							border: solid 1px;
						}
					}
				}
			}
			#imenu:checked ~ .menu{
				display: block;
				transform: translateX(0%);
			}
		}
		.GridIndex_cuerpo{
			.GridIndex_derecha{
				img{
					width: 60%;
					height: auto;
					margin: 3px;
				}
			}
		}
	}
	.GridVenta{
		max-width: 100%;
		.GridVenta_header{
			#input-search{
				position: relative;
				top: 0px;
				left: 5px;
				width: 80%;
			}
			.iconoMenu{
				display: inline;
				padding-right: 5px;
				float: right;
			}
			.menu{
				height: 250px;
				width: 40%;
				padding: 0px;
				transform: translateX(500%);
				transition: all 0.3s;
				display: none;
				ul{
					margin: 0px;
					width: 100%;
					position: relative;
					top: 10px;
					right: -55px;
					height: 250px;
					display: block;
					li{
						margin: 0px;
						width: 117%;
						position: relative;
						left: -40px;
						ul{
							position: relative;
							top: 0px;
							right: 100%;
							border: solid 1px;
						}
					}
				}
			}
			#imenu:checked ~ .menu{
				display: block;
				transform: translateX(0%);
			}
		}
		.GridVenta_cuerpo{
			.GridVenta_productos{
				.GridVenta_elemento{
					width: 45%;
					height: auto;
					img{
						width: 95%;
					}
				}
			}
		}
	}
	.GridGaleria{
		max-width: 100%;
		.GridGaleria_header{
			#input-search{
				position: relative;
				top: 0px;
				left: 5px;
				width: 80%;
			}
			.iconoMenu{
				display: inline;
				padding-right: 5px;
				float: right;
			}
			.menu{
				height: 250px;
				width: 40%;
				padding: 0px;
				transform: translateX(500%);
				transition: all 0.3s;
				display: none;
				ul{
					margin: 0px;
					width: 100%;
					position: relative;
					top: 10px;
					right: -55px;
					height: 250px;
					display: block;
					li{
						margin: 0px;
						width: 117%;
						position: relative;
						left: -40px;
						ul{
							position: relative;
							top: 0px;
							right: 100%;
							border: solid 1px;
						}
					}
				}
			}
			#imenu:checked ~ .menu{
				display: block;
				transform: translateX(0%);
			}
		}
		.GridGaleria_cuerpo{
			
		}
	}
	.GridContacto{
		max-width: 100%;
		.GridContacto_header{
			#input-search{
				position: relative;
				top: 0px;
				left: 5px;
				width: 80%;
			}
			.iconoMenu{
				display: inline;
				padding-right: 5px;
				float: right;
			}
			.menu{
				height: 250px;
				width: 40%;
				padding: 0px;
				transform: translateX(500%);
				transition: all 0.3s;
				display: none;
				ul{
					margin: 0px;
					width: 100%;
					position: relative;
					top: 10px;
					right: -55px;
					height: 250px;
					display: block;
					li{
						margin: 0px;
						width: 117%;
						position: relative;
						left: -40px;
						ul{
							position: relative;
							top: 0px;
							right: 100%;
							border: solid 1px;
						}
					}
				}
			}
			#imenu:checked ~ .menu{
				display: block;
				transform: translateX(0%);
			}
		}
	}
}
@media (max-width: 550px) {
	.GridIndex{
		max-width: 100%;
		.GridIndex_header{
			#input-search{
				position: relative;
				top: 0px;
				left: 5px;
				width: 60%;
			}
			.iconoMenu{
				display: inline;
				padding-right: 5px;
				float: right;
			}
			.menu{
				height: 250px;
				width: 40%;
				padding: 0px;
				transform: translateX(500%);
				transition: all 0.3s;
				display: none;
				ul{
					margin: 0px;
					width: 100%;
					position: relative;
					top: 10px;
					right: -55px;
					height: 250px;
					display: block;
					li{
						margin: 0px;
						width: 117%;
						position: relative;
						left: -40px;
						ul{
							position: relative;
							top: 0px;
							right: 100%;
							border: solid 1px;
						}
					}
				}
			}
			#imenu:checked ~ .menu{
				display: block;
				transform: translateX(0%);
			}
		}
		.GridIndex_cuerpo{
			flex-direction: column-reverse;
			.GridIndex_izquierda{
			width: 100%;
			padding: 7%;
			}
			.GridIndex_derecha{
				img{
					width: 80%;
					height: auto;
					margin: 3px;
				}
			}
		}
	}
	.GridVenta{
		max-width: 100%;
		.GridVenta_header{
			#input-search{
				position: relative;
				top: 0px;
				left: 5px;
				width: 60%;
			}
			.iconoMenu{
				display: inline;
				padding-right: 5px;
				float: right;
			}
			.menu{
				height: 250px;
				width: 40%;
				padding: 0px;
				transform: translateX(500%);
				transition: all 0.3s;
				display: none;
				ul{
					margin: 0px;
					width: 100%;
					position: relative;
					top: 10px;
					right: -55px;
					height: 250px;
					display: block;
					li{
						margin: 0px;
						width: 117%;
						position: relative;
						left: -40px;
						ul{
							position: relative;
							top: 0px;
							right: 100%;
							border: solid 1px;
						}
					}
				}
			}
			#imenu:checked ~ .menu{
				display: block;
				transform: translateX(0%);
			}
		}
		.GridVenta_cuerpo{
			.GridVenta_filtros{
				display: none;
			}
		}
	}
	.GridGaleria{
		max-width: 100%;
		.GridGaleria_header{
			#input-search{
				position: relative;
				top: 0px;
				left: 5px;
				width: 60%;
			}
			.iconoMenu{
				display: inline;
				padding-right: 5px;
				float: right;
			}
			.menu{
				height: 250px;
				width: 40%;
				padding: 0px;
				transform: translateX(500%);
				transition: all 0.3s;
				display: none;
				ul{
					margin: 0px;
					width: 100%;
					position: relative;
					top: 10px;
					right: -55px;
					height: 250px;
					display: block;
					li{
						margin: 0px;
						width: 117%;
						position: relative;
						left: -40px;
						ul{
							position: relative;
							top: 0px;
							right: 100%;
							border: solid 1px;
						}
					}
				}
			}
			#imenu:checked ~ .menu{
				display: block;
				transform: translateX(0%);
			}
		}
	}
	.GridContacto{
		max-width: 100%;
		.GridContacto_header{
			#input-search{
				position: relative;
				top: 0px;
				left: 5px;
				width: 60%;
			}
			.iconoMenu{
				display: inline;
				padding-right: 5px;
				float: right;
			}
			.menu{
				height: 250px;
				width: 40%;
				padding: 0px;
				transform: translateX(500%);
				transition: all 0.3s;
				display: none;
				ul{
					margin: 0px;
					width: 100%;
					position: relative;
					top: 10px;
					right: -55px;
					height: 250px;
					display: block;
					li{
						margin: 0px;
						width: 117%;
						position: relative;
						left: -40px;
						ul{
							position: relative;
							top: 0px;
							right: 100%;
							border: solid 1px;
						}
					}
				}
			}
			#imenu:checked ~ .menu{
				display: block;
				transform: translateX(0%);
			}
		}
		.GridContacto_cuerpo{
			grid-template-areas: 
			"izquierda" "derecha";
			iframe{
				margin-left:10px ;
			}
		}
	}
}